<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lilico-web</key>
	<string>https://lilico.app/api/</string>
	<key>lilico</key>
	<string>https://api.lilico.app</string>
	<key>firebase-function</key>
	<string>https://us-central1-lilico-334404.cloudfunctions.net</string>
</dict>
</plist>
